/*#region ----------------- Buttons */
.btn {
  font-size: 16px;
  padding: 0.7rem 1.2rem;
  border-radius: 50px 0 50px 50px;
  border: none;
  min-width: 140px;
  box-shadow: none !important;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
  .fi {
    position: relative;
    top: 5px;
    font-size: 24px;
    line-height: 0;
  }
}
.icon-right {
  .fi {
    margin-left: 10px;
  }
}
.icon-left {
  .fi {
    margin-right: 10px;
  }
}

.btn-primary {
  background: $primary;
  color: white;
  &:hover,
  &:focus {
    background: darken($color: $primary, $amount: 8);
  }
}
.btn-secondary {
  background: $secondary;
  color: white;
  &:hover,
  &:focus {
    background: darken($color: $secondary, $amount: 8);
  }
}

.btn-collapse {
  border: none;
  background-color: white;
  width: 100%;
  height: 50px;
  text-align: right;
  padding: 0 10px;
  position: relative;
  .title {
    font-size: 13px;
    font-weight: 600;
    color: $textDark;
    .mdi {
      position: relative;
      top: 4px;
      margin-left: 5px;
      color: $primary;
      font-size: 20px;
      line-height: 0;
    }
  }
  .icon {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    transition: all 0.2s ease;
    color: $textSilver;
    @include displayFlex(flex, center, center);
  }
  &:hover {
    color: $primary;
    transition: all 0.2s ease;
  }
  &.collapsed {
    .icon {
      transform: rotate(0deg);
      transition: all 0.2s ease;
    }
  }
}

/*#endregion -------------- Buttons */
