/*#region ----------------- Footer */
.footer {
  background-color: white;
  margin-top: 50px;
  position: relative;
  .footer-inner {
    padding: 60px 0 40px 0;
  }
  .links {
    margin: 15px 0;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: $secondary;
      margin-bottom: 20px;
    }
    ul {
      li {
        margin: 5px 0;
        a {
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          color: $textGrey;
          transition: all 0.2s ease-in-out;
          &:hover {
            padding-right: 10px;
            color: $secondary;
          }
        }
      }
    }
  }
  .socials {
    margin: 15px 0;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: $secondary;
      margin-bottom: 20px;
    }
    .icons-list {
      @include displayFlex(flex, center, flex-start);
      li {
        width: 48px;
        height: 48px;
        margin: 5px 0 5px 5px;
        a {
          @include displayFlex(flex, center, center);
          background-color: $background;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          font-size: 20px;
          color: $primary;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
    .enemad-group {
      margin-top: 20px;
      ul {
        @include displayFlex(flex, center, flex-start);
        li {
          width: 90px;
          height: 90px;
          margin: 5px 0 5px 5px;
          img {
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .copyright {
    background-color: $secondary;
    padding: 15px 0;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 575px) {
}

/*#endregion -------------- Footer */
