/*#region ----------------- Page Title */
.page-title {
  text-align: center;
  .title-inner {
    width: 60%;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.6rem;
    color: $textDark;
    line-height: 42px;
    display: inline-block;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 240px;
      height: 47px;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      display: none;
    }
  }
  .mini-span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: $primary;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
  }
  &.text-right {
    text-align: right;
    .title-inner {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .page-title {
    .title-inner {
      width: 80%;
    }
    h1 {
      font-size: 1.3rem;
      line-height: 36px;
      span {
        &::before {
          height: 16px;
          bottom: 5px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .page-title {
    .title-inner {
      width: 90%;
    }
    h1 {
      font-size: 1.1rem;
      line-height: 32px;
      span {
        &::before {
          height: 12px;
        }
      }
    }
    p {
      font-size: 13px;
    }
  }
}
/*#endregion ----------------- Page Title */
