/*#region ----------------- Tabs */
.nav-tabs{
    border-bottom-color: $borderColor;
    padding-bottom: 1px;
    .nav-link{
        background-color: $background;
        color: $textGrey;
        border-radius: 10px 10px 0 0;
        font-size: 14px;
        font-weight: 400;
        border: none;
        padding: 12px 15px;
        &.active{
            background-color: $primary;
            color: white;
        }
    }
}
.tab-content{
    .tab-inner{
        margin-top: 1.5rem;
    }
}

@media(max-width:575px){
    .nav-tabs{
        .nav-item{
            flex-grow: 1;
        }
        .nav-link{
            width: 100%;
            font-size: 13px;
            padding: 10px 5px;
        }
    }
}
/*#endregion -------------- Tabs */