$primary: #fea700;
$secondary: #163f79;
$accent: #e03a49;

$textDark: #3c3c3c;
$textGrey: #636063;
$textSilver: #a1a0a1;

$success: #00bd79;
$error: #ff3333;
$info: #009cf2;
$warning: #ffe16a;
$disabled: #d8d8d8;
$dis_button: #879ac1;

$borderColor: #d0d0d0;

$background: #f5f6f7;

$bodyFont: IRANYEKAN;
$iconFontRegular: uicons-regular-rounded;
$iconFontSolid: uicons-solid-rounded;

$boxshadow: 0px 5px 20px rgba(34, 30, 34, 0.1);
